@import "tailwindcss";

html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Inter", "Segoe UI", system-ui, sans-serif;
  background: #f1f5f9;
}

* {
  box-sizing: border-box;
}

.app-scrollbar::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.app-scrollbar::-webkit-scrollbar-thumb {
  background: #94a3b8;
  border-radius: 999px;
}

.app-scrollbar::-webkit-scrollbar-track {
  background: #e2e8f0;
}
